imports

In [1]:

### open lib
import pandas as pd
import os

# Spark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, TimestampType
from pyspark.sql.functions import col, desc

In [2]:
### self defined lib
from ingestion_lib.analyse import parse_dataset, infer_column_type, add_key_column, dupe_check
from ingestion_lib.main import records, categories, tbl_parsed_dict

Loaded categories
Loaded records
categories
	 filename :  categories
	 columns :  ['category_key', 'type', 'payment_category', 'subcategory', 'item', 'nature', 'color', 'category']
	 data_type :  ['string', 'string', 'string', 'string', 'string', 'string', 'string', 'string']
	 pk :  category_key
	 check_pk :  PASS
	 check_null_columns :  subcategory, item, nature
records
	 filename :  records
	 columns :  ['record_key', 'category_key', 'account', 'category', 'currency', 'amount', 'ref_currency_amount', 'type', 'payment_type', 'payment_type_local', 'note', 'date', 'gps_latitude', 'gps_longitude', 'gps_accuracy_in_meters', 'warranty_in_month', 'transfer', 'payee', 'labels', 'envelope_id', 'custom_category']
	 data_type :  ['string', 'string', 'string', 'string', 'string', 'float', 'float', 'string', 'string', 'string', 'string', 'string', 'float', 'float', 'float', 'int', 'bool', 'string', 'float', 'int', 'bool']
	 pk :  record_key
	 check_pk :  PASS
	 check_null_columns :  note, gps_latitude, gps_longitude, gps_accuracy_in_meters, payee, labels
fk_checks
	 missing_fk_record_count :  40


####Tables ingested####

	records : 1853 | ['record_key', 'category_key', 'account', 'category', 'currency', 'amount', 'ref_currency_amount', 'type', 'payment_type', 'payment_type_local', 'note', 'date', 'gps_latitude', 'gps_longitude', 'gps_accuracy_in_meters', 'warranty_in_month', 'transfer', 'payee', 'labels', 'envelope_id', 'custom_category']
	categories: 98 | ['category_key', 'type', 'payment_category', 'subcategory', 'item', 'nature', 'color', 'category']

Setup local SparkSession

In [3]:
# Ensures proper Python worker binding
os.environ["PYSPARK_PYTHON"] = "python"
os.environ["PYSPARK_DRIVER_PYTHON"] = "python"
os.environ["SPARK_LOCAL_IP"] = "127.0.0.1"

# Point to the JDBC driver
jdbc_jar_path = "C:\\Program Files\\Java\\sqljdbc_12.10\\enu\\jars\\mssql-jdbc.jar"

# Start Spark session with JDBC driver
spark = SparkSession.builder \
    .appName("SQLServerAccess") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .config("spark.driver.host", "localhost") \
    .config("spark.network.timeout", "100s") \
    .config("spark.python.worker.reuse", "false") \
    .config("spark.jars", jdbc_jar_path) \
    .getOrCreate()


Ingest as Spark df

In [4]:
categories_df = spark.createDataFrame(categories)
categories_df.show()

+--------------------+--------+----------------+--------------------+----+------+-------+--------------------+
|        category_key|    type|payment_category|         subcategory|item|nature|  color|            category|
+--------------------+--------+----------------+--------------------+----+------+-------+--------------------+
|Expenses:Food & D...|Expenses|   Food & Drinks|                 NaN| NaN|  Need|#FF5722|       Food & Drinks|
|Expenses:Restaura...|Expenses|   Food & Drinks|    Restaurants, bar| NaN|  Need|#FF5722|    Restaurants, bar|
|  Expenses:Groceries|Expenses|   Food & Drinks|           Groceries| NaN|  Need|#FF5722|           Groceries|
|  Expenses:Fast-food|Expenses|   Food & Drinks|           Fast-food| NaN|  Need|#FF5722|           Fast-food|
|   Expenses:Shopping|Expenses|        Shopping|                 NaN| NaN|  Want|#4FC3F7|            Shopping|
|Expenses:Clothes ...|Expenses|        Shopping|     Clothes & shoes| NaN|  Want|#4FC3F7|     Clothes & shoes|
|Expenses:Drug-sto...|Expenses|        Shopping| Drug-store, chemist| NaN|  Want|#4FC3F7| Drug-store, chemist|
|Expenses:Electron...|Expenses|        Shopping|Electronics, acce...| NaN|  Want|#4FC3F7|Electronics, acce...|
|  Expenses:Free time|Expenses|        Shopping|           Free time| NaN|  Want|#4FC3F7|           Free time|
| Expenses:Gifts, joy|Expenses|        Shopping|          Gifts, joy| NaN|  Want|#4FC3F7|          Gifts, joy|
|Expenses:Health a...|Expenses|        Shopping|   Health and beauty| NaN|  Want|#4FC3F7|   Health and beauty|
|Expenses:Home, ga...|Expenses|        Shopping|        Home, garden| NaN|  Want|#4FC3F7|        Home, garden|
|Expenses:Jewels, ...|Expenses|        Shopping| Jewels, accessories| NaN|  Want|#4FC3F7| Jewels, accessories|
|       Expenses:Kids|Expenses|        Shopping|                Kids| NaN|  Want|#4FC3F7|                Kids|
|Expenses:Pets, an...|Expenses|        Shopping|       Pets, animals| NaN|  Want|#4FC3F7|       Pets, animals|
|Expenses:Statione...|Expenses|        Shopping|   Stationery, tools| NaN|  Want|#4FC3F7|   Stationery, tools|
|    Expenses:Housing|Expenses|         Housing|                 NaN| NaN|  Must|#FFB300|             Housing|
|Expenses:Energy, ...|Expenses|         Housing|   Energy, utilities| NaN|  Must|#FFB300|   Energy, utilities|
|Expenses:Maintena...|Expenses|         Housing|Maintenance, repairs| NaN|  Must|#FFB300|Maintenance, repairs|
|   Expenses:Mortgage|Expenses|         Housing|            Mortgage| NaN|  Must|#FFB300|            Mortgage|
+--------------------+--------+----------------+--------------------+----+------+-------+--------------------+
only showing top 20 rows

In [5]:
records_df = spark.createDataFrame(records)
records_df.show()

+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+--------------+------------------+--------------------+-------------------+------------+-------------+----------------------+-----------------+--------+------+------+-----------+---------------+
|          record_key|        category_key|account|            category|currency|  amount|ref_currency_amount|    type|  payment_type|payment_type_local|                note|               date|gps_latitude|gps_longitude|gps_accuracy_in_meters|warranty_in_month|transfer| payee|labels|envelope_id|custom_category|
+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+--------------+------------------+--------------------+-------------------+------------+-------------+----------------------+-----------------+--------+------+------+-----------+---------------+
|2025-03-31 23:31:...|  Expenses:Fast-food|Savings|           Fast-food|     INR|  -660.0|             -660.0|Expenses|          CASH|              Cash|Dinner plans with...|2025-03-31 23:31:51|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1001|          false|
|2025-03-31 23:31:...|Expenses:Restaura...|Savings|    Restaurants, bar|     INR|  -660.0|             -660.0|Expenses|          CASH|              Cash|          simplified|2025-03-31 23:31:51|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1002|          false|
|2025-03-31 16:30:...|  Expenses:Fast-food|Savings|           Fast-food|     INR|  -280.0|             -280.0|Expenses|          CASH|              Cash| Swiggy\r\n156 + 131|2025-03-31 16:30:15|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1001|          false|
|2025-03-30 19:32:...|Expenses:Loan, in...|Savings|     Loan, interests|     INR| -2500.0|            -2500.0|Expenses|          CASH|              Cash|         Me â†’ Thatha|2025-03-30 19:32:16|         NaN|          NaN|                   NaN|                0|   false|Thatha|   NaN|       8002|          false|
|2025-03-30 19:30:...|  Expenses:MF midcap| Salary|           MF midcap|     INR| -5000.0|            -5000.0|Expenses|MOBILE_PAYMENT|    Mobile payment|Hdfc nifty 50 mid...|2025-03-30 19:30:26|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       9002|           true|
|2025-03-30 19:30:...|   Expenses:TRANSFER| Salary|            TRANSFER|     INR| -5000.0|            -5000.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-30 19:30:13|         NaN|          NaN|                   NaN|                0|    true|   NaN|   NaN|      20001|          false|
|2025-03-30 19:30:...|     Income:TRANSFER|  Zerdh|            TRANSFER|     INR|  5000.0|             5000.0|  Income|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-30 19:30:13|         NaN|          NaN|                   NaN|                0|    true|   NaN|   NaN|      20001|          false|
|2025-03-30 19:29:...|   Expenses:TRANSFER| Salary|            TRANSFER|     INR|-10000.0|           -10000.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-30 19:29:52|         NaN|          NaN|                   NaN|                0|    true|   NaN|   NaN|      20001|          false|
|2025-03-30 19:29:...|     Income:TRANSFER|Savings|            TRANSFER|     INR| 10000.0|            10000.0|  Income|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-30 19:29:52|         NaN|          NaN|                   NaN|                0|    true|   NaN|   NaN|      20001|          false|
|2025-03-30 19:12:...|        Expenses:PPF| Salary|                 PPF|     INR| -2500.0|            -2500.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-30 19:12:50|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       9003|           true|
|2025-03-30 19:12:...|   Expenses:Mortgage| Salary|            Mortgage|     INR|-10000.0|           -10000.0|Expenses|      TRANSFER|     Bank transfer|                 NaN|2025-03-30 19:12:04|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       3001|          false|
|2025-03-30 19:11:...|       Income:Income| Salary|              Income|     INR| 51300.0|            51300.0|  Income|      TRANSFER|     Bank transfer|                 NaN|2025-03-30 19:11:46|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|      10011|          false|
|2025-03-29 15:01:...|Expenses:Charges,...|Savings|       Charges, Fees|     INR| -2775.0|            -2775.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-29 15:01:30|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       8005|          false|
|2025-03-29 15:01:...|Income:Lending, r...|Savings|    Lending, renting|     INR|  2500.0|             2500.0|  Income|          CASH|              Cash|         Thatha â†’ Me|2025-03-29 15:01:25|         NaN|          NaN|                   NaN|                0|   false|Thatha|   NaN|      10005|          false|
|2025-03-28 18:03:...|  Expenses:Groceries|Savings|           Groceries|     INR|   -85.0|              -85.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-28 18:03:10|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1000|          false|
|2025-03-28 17:49:...|Expenses:Food & D...|Savings|       Food & Drinks|     INR|  -120.0|             -120.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-28 17:49:46|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1003|          false|
|2025-03-28 14:57:...|Expenses:Food & D...|Savings|       Food & Drinks|     INR|  -150.0|             -150.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-28 14:57:41|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1003|          false|
|2025-03-28 07:01:...|Income:Interests,...|Savings|Interests, dividends|     INR|    85.0|               85.0|  Income|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-28 07:01:25|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|      10001|          false|
|2025-03-27 08:02:...|       Expenses:Fuel|Savings|                Fuel|     INR|  -565.0|             -565.0|Expenses|MOBILE_PAYMENT|    Mobile payment|                 NaN|2025-03-27 08:02:45|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       5000|          false|
|2025-03-23 14:30:...|  Expenses:Fast-food|Savings|           Fast-food|     INR|  -205.0|             -205.0|Expenses|          CASH|              Cash|                 NaN|2025-03-23 14:30:51|         NaN|          NaN|                   NaN|                0|   false|   NaN|   NaN|       1001|          false|
+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+--------------+------------------+--------------------+-------------------+------------+-------------+----------------------+-----------------+--------+------+------+-----------+---------------+
only showing top 20 rows

Cleanup

In [6]:
records_df = records_df.withColumn('timestamp', col('date').cast(TimestampType()))
records_df = records_df.select('record_key', 'category_key', 'account', 'category', 'amount', 'type','timestamp','transfer')

categories_df = categories_df.select('category_key', 'type', 'payment_category', 'subcategory', 'item', 'nature').distinct()

Validation for categories

In [7]:
categories_df.select('type').distinct().show()
categories_df.select('nature').distinct().show()

+--------+
|    type|
+--------+
|Expenses|
|  Income|
+--------+

+------+
|nature|
+------+
|  Want|
|  Need|
|  Must|
|   NaN|
+------+

In [8]:
categories_df.select('payment_category').distinct().show()

+--------------------+
|    payment_category|
+--------------------+
|            Shopping|
|       Food & Drinks|
|             Housing|
|      Transportation|
|             Vehicle|
|Life & Entertainment|
|   Communication, PC|
|  Financial expenses|
|         Investments|
|              Income|
|            TRANSFER|
|              Others|
+--------------------+

In [9]:
categories_df.where('payment_category is null').count()

0

Validation for records

In [10]:
records_df.select('type').distinct().show()
records_df.select('transfer').distinct().show()
records_df.select('account').distinct().show()

+--------+
|    type|
+--------+
|  Income|
|Expenses|
+--------+

+--------+
|transfer|
+--------+
|    true|
|   false|
+--------+

+-------+
|account|
+-------+
|Savings|
|  Zerdh|
|   Card|
|   Cash|
| Equity|
| Salary|
+-------+

In [11]:
print(records_df.count())
print(records_df.where('transfer is True').count())

1853
294

In [12]:
records_df.select('category').distinct().count()

65

In [13]:
records_df.groupBy('category').count().orderBy(desc('count')).show()

+--------------------+-----+
|            category|count|
+--------------------+-----+
|            TRANSFER|  294|
|           Fast-food|  242|
|                Fuel|  121|
|    Lending, renting|   77|
|     Loan, interests|   75|
|           Groceries|   59|
|    Restaurants, bar|   57|
|Books, audio, sub...|   51|
|             Missing|   50|
|   Health and beauty|   46|
|Telephone, mobile...|   43|
|      Charity, gifts|   43|
|              Income|   42|
|       Food & Drinks|   37|
|     Clothes & shoes|   36|
|             Parking|   33|
|           Auto/taxi|   30|
|Holiday, trips, h...|   26|
|Software, apps, g...|   25|
|            Mortgage|   24|
+--------------------+-----+
only showing top 20 rows

Validation for joining

In [18]:
join_df = records_df.join(categories_df, how='left')
non_join = join_df.where('payment_category is null')
print(non_join.count())

0

In [19]:
join_df.groupBy('payment_category').sum('amount').show()

+--------------------+------------------+
|    payment_category|       sum(amount)|
+--------------------+------------------+
|             Housing| 124340.4400000003|
|         Investments| 266443.7999999989|
|            TRANSFER|35525.840000000026|
|            Shopping| 213155.0400000005|
|   Communication, PC| 88814.59999999986|
|              Income| 213155.0400000005|
|              Others|35525.840000000026|
|  Financial expenses|142103.36000000034|
|       Food & Drinks| 71051.67999999993|
|Life & Entertainment|319732.55999999866|
|      Transportation| 106577.5199999999|
|             Vehicle| 124340.4400000003|
+--------------------+------------------+

Validation for datatypes

In [20]:
print('\ncategories\n')
categories_col_dict = {field.name: str(field.dataType).replace('Type()','') for field in categories_df.schema.fields}
for col, type in categories_col_dict.items():
    print(col, ' : ', type)
    
print('\nrecords\n')
records_col_dict = {field.name: str(field.dataType).replace('Type()','') for field in records_df.schema.fields}
for col, type in records_col_dict.items():
    print(col, ' : ', type)

categories

category_key  :  String
type  :  String
payment_category  :  String
subcategory  :  String
item  :  String
nature  :  String

records

record_key  :  String
category_key  :  String
account  :  String
category  :  String
amount  :  Double
type  :  String
timestamp  :  Timestamp
transfer  :  Boolean

Write to database

In [21]:
# SQL Server connection config
jdbc_url = (
    "jdbc:sqlserver://localhost:1433;"
    "databaseName=sqldb_staging;"
    "integratedSecurity=true;"
    "encrypt=true;"
    "trustServerCertificate=true"
)

connection_props = {
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

In [22]:
categories_df.write.jdbc(url=jdbc_url, table='category', mode="overwrite", properties=connection_props)
records_df.write.jdbc(url=jdbc_url, table='records', mode="overwrite", properties=connection_props)

In [23]:
df = spark.read.jdbc(url=jdbc_url, table="dbo.category", properties=connection_props)
df.show()

+--------------------+--------+----------------+--------------------+----+------+
|        category_key|    type|payment_category|         subcategory|item|nature|
+--------------------+--------+----------------+--------------------+----+------+
|  Expenses:Fast-food|Expenses|   Food & Drinks|           Fast-food| NaN|  Need|
|   Expenses:Shopping|Expenses|        Shopping|                 NaN| NaN|  Want|
|Expenses:Restaura...|Expenses|   Food & Drinks|    Restaurants, bar| NaN|  Need|
|Expenses:Clothes ...|Expenses|        Shopping|     Clothes & shoes| NaN|  Want|
|Expenses:Food & D...|Expenses|   Food & Drinks|                 NaN| NaN|  Need|
|Expenses:Electron...|Expenses|        Shopping|Electronics, acce...| NaN|  Want|
|Expenses:Drug-sto...|Expenses|        Shopping| Drug-store, chemist| NaN|  Want|
|  Expenses:Groceries|Expenses|   Food & Drinks|           Groceries| NaN|  Need|
|Expenses:Pets, an...|Expenses|        Shopping|       Pets, animals| NaN|  Want|
|Expenses:Health a...|Expenses|        Shopping|   Health and beauty| NaN|  Want|
|       Expenses:Kids|Expenses|        Shopping|                Kids| NaN|  Want|
|Expenses:Home, ga...|Expenses|        Shopping|        Home, garden| NaN|  Want|
|  Expenses:Free time|Expenses|        Shopping|           Free time| NaN|  Want|
| Expenses:Gifts, joy|Expenses|        Shopping|          Gifts, joy| NaN|  Want|
|Expenses:Jewels, ...|Expenses|        Shopping| Jewels, accessories| NaN|  Want|
|Expenses:Statione...|Expenses|        Shopping|   Stationery, tools| NaN|  Want|
|Expenses:Property...|Expenses|         Housing|  Property insurance| NaN|  Must|
|Expenses:Maintena...|Expenses|         Housing|Maintenance, repairs| NaN|  Must|
|    Expenses:Housing|Expenses|         Housing|                 NaN| NaN|  Must|
|       Expenses:Rent|Expenses|         Housing|                Rent| NaN|  Must|
+--------------------+--------+----------------+--------------------+----+------+
only showing top 20 rows

In [24]:
df = spark.read.jdbc(url=jdbc_url, table="dbo.records", properties=connection_props)
df.show()

+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+
|          record_key|        category_key|account|            category|  amount|    type|          timestamp|transfer|
+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+
|2024-04-26 15:11:...|   Expenses:TRANSFER| Salary|            TRANSFER|-11000.0|Expenses|2024-04-26 15:11:59|    true|
|2024-04-26 15:11:...|     Income:TRANSFER| Equity|            TRANSFER| 11000.0|  Income|2024-04-26 15:11:59|    true|
|2024-04-26 12:00:...|Expenses:Collections| Salary|         Collections| -5000.0|Expenses|2024-04-26 12:00:00|   false|
|2024-04-21 22:23:...|  Expenses:Fast-food|Savings|           Fast-food|  -200.0|Expenses|2024-04-21 22:23:06|   false|
|2024-04-20 12:00:...|   Expenses:TRANSFER| Salary|            TRANSFER|  -190.0|Expenses|2024-04-20 12:00:00|    true|
|2024-04-20 12:00:...|     Income:TRANSFER|Savings|            TRANSFER|   190.0|  Income|2024-04-20 12:00:00|    true|
|2024-04-20 12:00:...|Expenses:Books, a...|Savings|Books, audio, sub...|  -130.0|Expenses|2024-04-20 12:00:00|   false|
|2024-04-17 19:22:...|Expenses:Food & D...|Savings|       Food & Drinks|  -100.0|Expenses|2024-04-17 19:22:38|   false|
|2024-04-16 21:28:...|Expenses:Charity,...|Savings|      Charity, gifts|   -90.0|Expenses|2024-04-16 21:28:23|   false|
|2024-04-16 21:24:...|    Expenses:Missing|Savings|             Missing|  -170.0|Expenses|2024-04-16 21:24:41|   false|
|2024-04-16 21:10:...|  Expenses:Fast-food|Savings|           Fast-food|  -165.0|Expenses|2024-04-16 21:10:15|   false|
|2024-04-16 12:00:...|Expenses:Hardware...|Savings|Hardware, electro...| -6350.0|Expenses|2024-04-16 12:00:28|   false|
|2024-04-14 21:28:...|Expenses:Movies, ...|Savings|Movies, culture, ...|  -410.0|Expenses|2024-04-14 21:28:42|   false|
|2024-04-14 21:06:...|       Expenses:Fuel|Savings|                Fuel|  -320.0|Expenses|2024-04-14 21:06:29|   false|
|2024-04-13 21:16:...|  Expenses:Groceries|Savings|           Groceries|  -240.0|Expenses|2024-04-13 21:16:00|   false|
|2024-04-13 21:05:...| Expenses:Metro card|Savings|          Metro card|   -20.0|Expenses|2024-04-13 21:05:41|   false|
|2024-04-12 14:19:...|Expenses:Food & D...|Savings|       Food & Drinks|   -50.0|Expenses|2024-04-12 14:19:53|   false|
|2024-04-10 21:19:...|Income:Lending, r...|Savings|    Lending, renting|  1200.0|  Income|2024-04-10 21:19:02|   false|
|2024-04-09 21:20:...|Expenses:Home, ga...|Savings|        Home, garden|  -400.0|Expenses|2024-04-09 21:20:09|   false|
|2024-04-09 18:24:...|Expenses:Loan, in...|Savings|     Loan, interests| -1200.0|Expenses|2024-04-09 18:24:21|   false|
+--------------------+--------------------+-------+--------------------+--------+--------+-------------------+--------+
only showing top 20 rows

In [ ]:
spark.stop